@font-face {
  font-family: demode;
  src: url(../demode/Demode.ttf);
}
@font-face {
  font-family: Brygada1918;
  src: url(../Brygada1918-Family/Brygada1918-Regular.otf);
}
@font-face {
  font-family: caviardreams;
  src: url(../caviar_dreams/CaviarDreams.ttf);
}
body {
  margin: 0;
}
header {
  background-color: #F8E4D7;
  padding: 15px;
  font-family: demode;
}
header nav {
  float: right;
  color: white;
}
nav a {
  display: inline-block;
  padding: 0px 5px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #F8E4D7;
  text-align: center;
}
footer {
  background-color: #F8E4D7;
  padding: 5px;
  color: white;
}
footer div {
  list-style: none;
  padding-left: 5px;
}
footer a {
  display: inline-block;
  padding: 0px 7px;
}
a h1 {
  font-family: demode;

}
